body{
    background-image: url('../pictures/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#chest{
    background-image: url('../pictures/chest2.jpg');
    color: ivory;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    text-align: center;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: cover; 
}

#legs{
    background-image:url('../pictures/legs2.jpg') ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 25px;
    color: ivory;
    text-align: center;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#triceps{
    background-image: url('../pictures/triceps2.jpg');
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 25px;
    color: ivory;
    text-align: center;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#biceps{
    background-image: url('../pictures/biceps3.jpg');
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 25px;
    color: ivory;
    text-align: center;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#heading{
    color: ivory;
    text-align: center;
    font-size: 100px;
}
.table{
    margin-left: 0px;
    margin-top: 100px;
}

#para{
    color: ivory;
    text-size-adjust: 10px;
}

#head2{
    color: ivory;

}
#des{
    filter: blur(8px);
    -webkit-filter: blur();    
}

#des2{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    
    
    
}
